
<%- include('../includes/header.ejs') %>


<%- include('../includes/navbar.ejs') %>
<link rel="stylesheet" href="/css/signup.css">


        <div class="wrapper">
          <div class="inner">
            <div class="image-holder">
              <img style="height: 50vh;" src="/images/book.jpg" alt="">
            </div>
            <form action="/new_password" method="POST">
              <h3>Reset</h3>
                <input type="hidden" name="userId" value="<%=userId%>">
                <input type="hidden" name='token' value="<%=token%>">
              <div class="form-holder">
                <input style="width: 140%;" type="password" name='password' placeholder="Enter new password" class="form-control">
              </div>
              
             
              <div class="form-login">
                <button style="width: 100px;" type="submit">Update</button>
                
              </div>
            </form>
          </div>
        </div>
        <%- include('../includes/footer.ejs') %>